body {
    display: flex;
    flex-flow: row;
    background-color: #EDF5FF;
}

.head {
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
    width: 358px;
    background-color: #1B2736;
}

/* 헤더 */

.head .MainLogo {
    display: flex;
    justify-content: center;
    justify-items: center;
    width: 100%;
    height: 60px;
}
.head .MainLogo .LogoBox {
    display: flex;
    justify-content: center;
    justify-items: center;
    align-items: center;
    width: 100%;
    height: 100%;
    border-bottom: 1px solid #394047;
}
.head .MainLogo .LogoBox img{
    width: 60%;
    height: 75%;
}

/* 메인 헤더 */

.head .GlobalNav {}
.head .GlobalNav .DashboardBox {
    display: flex;
    flex-flow: row;
    justify-items: center;
    align-items: center;
    height: 60px;
    padding: 32px;
}
.head .GlobalNav .DashboardBox img {
    display: block;
    width: 32px;
    height: 32px;
}
.head .GlobalNav .DashboardBox p {
    margin-left: 16px;
    color: #8094AE;
}

/* 글로벌네비게이션 - > 대시보드박스 */

.MainContents {
    width: 1562px;
    height: 100%;
}
.MainContents .Status {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 32px;
    height: 60px;
    background-color: #FFF;
    box-shadow:  0px 8px 6px -6px rgb(0,0,0,0.4);
}
.MainContents .Status .Dir {}
.MainContents .Status .Dir p {}
.MainContents .Status .User {
    display: flex;
    flex-flow: row;
    align-items: center;
}
.MainContents .Status .User .UserProfile{
    width: 32px;
    height: 32px;
    background-color: #A6DDFF;
    border-radius: 32px;
    margin-right: 16px ;
}
.MainContents .Status .User .UserStatus{
    display: flex;
    flex-flow: column;
}
.MainContents .Status .User .UserStatus #Admin{
    color: #A6DDFF;
}
.MainContents .Status .User .UserStatus #Name{
    color: #585858;
}

/* Status */

.MainContents .StatusBoard{
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    padding: 16px 28px;
}
.MainContents .StatusBoard .MakeTest{
    width: 980px;
}
.MainContents .StatusBoard .PreView{
    width: 500px;
}

.MainContents .StatusBoard .StBoardCss{
    height: 800px;
    border: 1px solid #CAC6C6;
    border-radius: 5px;
    background-color: #fff;
}

/* StatusBoard */