main {
    display: flex;
    flex-flow: row;
    justify-content: center;
    width: 100%;
    padding: 0 16px;
    margin-top: 20px;
    padding: 44px 16px;
}

header {
    background-image: url('../images/HeaderBackgroundImg.png');
    padding: 20px 5px 80px;
}

.IntroShellImg {
    width: 350px;
    height: 500px;
    padding: 10px 0;
    margin-right: 32px;
}

.IntroShellImg img {
    display: block;
    width: 350px;
    height: 400px;
    background-color: aqua;
}

.TestIntroShell .IntroShellTextBox {}

.TestIntroShell .IntroShellTextBox h2 {
    margin-bottom: 8px;
}

.TestIntroShell .IntroShellTextBox .Creator {
    display: flex;
    flex-flow: row;
    padding: 10px 0 18px;
}

.TestIntroShell .IntroShellTextBox .Creator img {
    display: block;
    border-radius: 24px;
    width: 24px;
    height: 24px;
    margin-right: 8px;
}

.TestIntroShell .IntroShellTextBox .Creator .CreatorName {
    font-size: 0.95rem;
    font-weight: 600;
}

.TestIntroShell .IntroShellTextBox .IntroDescription {
    font-size: 0.85rem;
}

.IntroBtnShell {
    display: flex;
    flex-flow: row;
    margin-top: 16px;
}

.IntroBtnShell>div>button {
    background-color: transparent;
    transition: all 0.5 ease-in-out;
}

.IntroBtnShell>div>button:hover {
    transform: scale(1.05);
}

.IntroBtnShell .TestStart {
    margin-right: 16px;
}

.IntroBtnShell .TestStart>button {
    width: 146px;
}

.IntroBtnShell .TestStart>button img {}

.IntroBtnShell .TestShare>button {
    width: 146px;
}

footer {
    position: absolute;
    width: 1230px;
    bottom: 0;
}

.testlistPageShell {
    max-height: 100vh;
}